.gf-Fav {
  background: rgba(255, 172, 172, 0.3);
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding-left: 5px;
  padding-top: 3px;
  transition: all 0.3s ease;
}

.fav-delete {
  padding-top: 1px;
}

.gf-Fav:hover {
  background: rgba(255, 172, 172, 0.8);
}

.gf-Fav span {
  display: block;
  width: 20px;
}
