:root {
  --results-columns: 2;
}

.ListOfGifs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: masonry;
  grid-gap: 0 16px; /* esto se tiene en cuenta para calcular el valor de 1fr para que encaje. Si en la línea de arriba pusiéramos 25%, no sería dinámico */
  min-height: 100vh;
  align-items: center;
}

.ListOfGifs-item {
  background-color: #eee;
  display: inline-block;
  width: 100%;
}

@media (min-width: 600px) {
  :root {
    --results-columns: 3;
  }
}

@media (min-width: 800px) {
  :root {
    --results-columns: 4;
  }
}
